BasedOnStyle: LLVM
AccessModifierOffset: -4
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: false
  AfterClass: false
  AfterStruct: false
WrapNamespaceBodyWithEmptyLines: Always
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 120
NamespaceIndentation: All
FixNamespaceComments: true
